.grid {
    width: min(900px, 100%);
    grid-template-columns: repeat(2, minmax(0, 1fr));
    box-sizing: border-box;

    margin: 0 auto;
    display: grid;

    gap: 18px;
    padding: 12px;
}

@media (max-width: 600px) {
    .grid {
        grid-template-columns: 1fr;
    }
}